<div class="wrapper">
  <div class="startingColumn">
      <mat-card class="card">
          <mat-card-header>
              <div mat-card-avatar class="starting-header-image"></div>
              <mat-card-title class="titlebar">Getting Started</mat-card-title>
          </mat-card-header>
          <mat-card-content id="centerTextWrapper">Launch off your new career in Crypto-trading</mat-card-content>
          <img mat-card-image src="https://i.ytimg.com/vi/2n_PAlT7PjU/maxresdefault.jpg" alt="Bitcoin">
          <mat-card-actions>
            <br>
            <mat-card-content id="centerTextWrapper">The ShoCoWo(Shouldah, Couldah, Wouldah) platform is your stress free trading enviroment! Start trading today!</mat-card-content>
            <br>
            <mat-card-content id="textWrapper">Steps to getting started!</mat-card-content>
            <mat-card-content id="textWrapper">1.Setup an Account</mat-card-content>
            <mat-card-content id="textWrapper">2.Read about the Cryptocurrencies</mat-card-content>
            <mat-card-content id="textWrapper">3.Buy Cryptocurrencies Low!</mat-card-content>
            <mat-card-content id="textWrapper">4.Sell Cryptocurrencies High!</mat-card-content>
            <div id="centerWrapper">
                    <button mat-raised-button color="primary" routerLink="/register">Register</button>
            </div>
          </mat-card-actions>
      </mat-card>
  </div>
  <div class="coinsColumn">
      <mat-card class="card">
          <mat-card-header>
              <div mat-card-avatar class="coins-header-image"></div>
              <mat-card-title class="titlebar">Tradable Cryptocurrencies</mat-card-title>
          </mat-card-header>
          <mat-card-content id="centerTextWrapper">Bitcoin & Ethereum</mat-card-content>
          <img mat-card-image src="https://image.dnevnik.hr/media/images/1920x1080/Dec2017/61443601-bitcoin.jpg">
          <mat-card-actions>
                <br>
                <mat-card-content id="centerTextWrapper">ShoCoWo platform was created to introduce the novice cryptocurrency trader to the moves of the markets, enable safe trading and to help build basic trading knowledge. Users can buy and sell cryptocurrencies without risking any real capital while also viewing the current price of cryptocurrencies and a chart to see how the currency has done in the past 30 days.</mat-card-content>
                <br>
                <mat-card-content id="textWrapper">List of Tradable Currenecies</mat-card-content>
                <mat-card-content id="textWrapper">1.Bitcoin</mat-card-content>
                <mat-card-content id="textWrapper">2.Ethereum</mat-card-content>
              <div id="centerWrapper">
                <button mat-raised-button routerLink="/infobtc" color="primary">Bitcoin</button>
                <button mat-raised-button routerLink="/infoeth" color="primary">Etherum</button>
              </div>
          </mat-card-actions>
      </mat-card>
  </div>
  <div class="newsColumn">
      <mat-card class="card">
          <mat-card-header>
              <div mat-card-avatar class="info-header-image"></div>
              <mat-card-title class="titlebar">Crypto News Service</mat-card-title>
          </mat-card-header>
          <mat-card-content id="centerTextWrapper">The Latest Crypto news</mat-card-content>
          <img mat-card-image src="https://steemit-production-imageproxy-upload.s3.amazonaws.com/DQmZsQTtvybbDR8nJUEjkds9NsVwxWyS3sDHj3T7aFxhf43">
          <mat-card-actions>
              <br>
                <mat-card-content id="centerTextWrapper">
                    When doing any trading, we reccomend that users do their due diligence in studying the trends of the market.
                    Listed below is a place for you to get started to make sure you are doing some studying so you do not lose all of your cash!
                </mat-card-content>
                <br>
                <br>
              <div id="centerWrapper">
                  <a href="https://cointelegraph.com/tags/cryptocurrencies" target="_blank">
                      <button mat-raised-button color="primary"> Latest News</button>
                  </a>
              </div>
          </mat-card-actions>
      </mat-card>
  </div>
</div>