<div class="ethGrid">
    <mat-card class="ethActions">
      <mat-card-header>
        <div mat-card-avatar class="eth-header-image"></div>
        <mat-card-title>Ethereum</mat-card-title>
        <span class="ethCurrentPrice">{{ cryptos['ETH'].USD | currency:'USD':true }}</span>
      </mat-card-header>
      <br>
      <mat-card-content class="ethChart">
        <div *ngIf="chart">
          <canvas id="canvas" >{{ chart }}</canvas>
        </div>
      </mat-card-content>  

      <p>Past 30 days of Ethereum Prices</p>
      <br>
      <p>This chart is here to assist you on identifying trends in the market then buy and sell accordingly.</p> 
    
    </mat-card>
      
    <mat-card class="ethInfo">
      <mat-card-header>
        <div mat-card-avatar class="ethinfo-header-image"></div>
        <mat-card-title>Information on Ethereum</mat-card-title>
      </mat-card-header>
      <br>
      <mat-card-content>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex libero laboriosam obcaecati corporis est, repudiandae ab eius necessitatibus dolor explicabo, officia nobis quasi amet ullam blanditiis impedit sequi voluptates? Nihil nisi at similique quos ipsa quam illum iusto maiores, molestiae pariatur nesciunt dolorum porro iste quas suscipit quia perferendis accusamus, veniam tempore labore. Aliquam eaque quos quis fugiat dignissimos cupiditate iure, velit, ducimus necessitatibus atque quia amet? Explicabo dolorem nisi eligendi ad quisquam minus porro tempora hic nam? Temporibus, animi!
      </mat-card-content>
  </mat-card>
</div>