.ethGrid {
    display: grid;
    height: 88%;
    grid-template-columns: 1em 58% 1em 39% 1em;
    grid-template-areas:
    ". left . right ."
    ". left . right ."
    ". left . right ."; 
}

.ethActions {
    grid-area: left;
    margin: 1em 0em;
}

.walletInfo {
    grid-area: right;
    margin: 1em 0em;    
}

button {
    display: inline-block;
}

.eth-header-image {
    background-image: url('https://user-images.githubusercontent.com/5788982/27623008-a5e8c956-5bda-11e7-9246-d17205287ad3.png');
    background-size: cover;
}

.wallet-header-image {
    background-image: url('https://image.flaticon.com/icons/svg/189/189709.svg');
    background-size: cover;
}

.nav-btn {
    background-color: rgb(45, 171, 255);
}

mat-card {
    background-color: #C5CAE9;
    
}

mat-card-content {
    background-color:#E8EAF6;
}

p {
    font-weight: bold;
}

mat-card-title {
    font-weight: bolder;
<<<<<<< Updated upstream
}
=======
    margin-top: .5em;
}
/* Structure for Table */
.example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    height: 28em;
  }
  
  .example-header {
    min-height: 64px;
    padding: 8px 24px 0;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  .mat-table {
    overflow: auto;
    max-height: 500px;
  }

.ethCurrentPrice{
    margin-top: .5em;
    font-weight: bold;
    border-bottom: 1px solid black;
}

.ethChart{
    box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.75);
}

>>>>>>> Stashed changes
