<mat-toolbar color="primary">
  <span>$ho¢oWo</span>
  <button mat-raised-button class="nav-btn" routerLink="/home" id="homeButton">Home</button>  
  <button mat-raised-button class="nav-btn" routerLink="/btc">BTC</button>
  <button mat-raised-button class="nav-btn" routerLink="/eth">ETH</button>
  <button mat-raised-button class="nav-btn" routerLink="/wallet">Wallet</button>    
  <span class="example-fill-remaining-space"></span>
  <button mat-raised-button class="nav-btn" routerLink="/register">Register</button>
  <button mat-raised-button class="nav-btn" routerLink="/login">Login</button>
</mat-toolbar>
