.example-fill-remaining-space {
    flex: 1 1 auto;
}

.nav-btn {
    margin-right: 0.5em;
    background-color: rgb(45, 171, 255);
}

#homeButton {
      margin-left: 5em;
}

#username {
    margin-right: 1em;
}
