<mat-toolbar color="primary">
  <span>$ho¢oWo</span>
  <button mat-raised-button class="nav-btn" routerLink="/home" id="homeButton">Home</button>

  <button mat-raised-button class="nav-btn" routerLink="/infobtc" *ngIf="!isLoggedIn">BTC Info</button>
  <button mat-raised-button class="nav-btn" routerLink="/infoeth" *ngIf="!isLoggedIn">ETH Info</button>

  <button mat-raised-button class="nav-btn" routerLink="/btc" *ngIf="isLoggedIn">BTC</button>
  <button mat-raised-button class="nav-btn" routerLink="/eth" *ngIf="isLoggedIn">ETH</button>
  <button mat-raised-button class="nav-btn" routerLink="/wallet" *ngIf="isLoggedIn">Wallet</button>    

  <span class="example-fill-remaining-space"></span>

  <button mat-raised-button class="nav-btn" routerLink="/register" *ngIf='!isLoggedIn'>Register</button>
  <button mat-raised-button class="nav-btn" routerLink="/login" *ngIf="!isLoggedIn">Login</button>
  <span id="username" *ngIf="isLoggedIn">{{username}}</span>
  <button mat-raised-button class="nav-btn" routerLink="/home" *ngIf="isLoggedIn" (click)="logOut()">Log Out</button>
</mat-toolbar>
