#page {
    width: 70%;
    margin: 2em auto;
    text-align: center;
}

/* #crypto-container {
    border: 2px solid black;
}

span.left {
    font-weight: bold;
    margin-left: 35%;
}

span.right {
    
} */