<section id="buyPage">
  <div>
    <mat-card id="buyCard">
    <h1 class="pageTitle">Buy Bitcoin!</h1>
    <h3>Available Funds: {{ availableFunds | currency: 'USD':true }}</h3>
    <br>
    <br>
    <mat-card class="btcBuyForm">
      <div *ngIf="cryptos">
        <div id="crypto-container" *ngFor="let crypto of objectKeys(cryptos)">
          <span class="left">Current Price of {{ crypto }}:</span>
          <span class="right">{{ cryptos[crypto].USD | currency:'USD':true }}</span>
        </div>
      </div>
      <br>
      <div>
        <mat-form-field class="buyInput">
            <input matInput [(ngModel)]='purchaseAmount' type="number" placeholder="Amount">
            <span matPrefix>$</span>
        </mat-form-field>
        <br>
          <div *ngIf="cryptos">
            <div id="crypto-form" *ngFor="let crypto of objectKeys(cryptos)">
              <span class="buyOutput">Bitcoin: {{ purchaseAmount / cryptoPrice }}</span>
            </div>
          </div>
          <br>
          <button class="buyButton" mat-raised-button type="submit" color="primary" (click)="makePurchase(purchaseAmount / cryptoPrice)">Buy!</button>
          <button class="buyButton" mat-raised-button routerLink="/btc" color="primary">Cancel</button>
        </div>
      </mat-card>
    </mat-card>
  </div>
</section>