<section>
    <div>
      <h1>Sell Bitcoin!</h1>
      <h3>Available Funds: {{ funds }}</h3> <!--{{ funds }} is placeholder for now -->
      <h3>Current Price</h3>
      <div *ngIf="cryptos">
          <div id="crypto-container" *ngFor="let crypto of objectKeys(cryptos)">
            <span class="left">{{ crypto }}</span>
            <span class="right">{{ cryptos[crypto].USD | currency:'USD':true }}</span>
          </div>
        </div>
      <br>
      <input placeholder="Enter Amount" type="number">
      <p>Value: {{num1 * cryptos[crypto].USD }}</p>
      <button type="submit">Sell!</button>
    </div>
  </section>