
#centerTextWrapper {
    display: flex;
    justify-content: center;
    color: white; 
}
#centerWrapper {
    display: flex;
    justify-content: center;
    color: black;
  }

.wrapper{
    padding-top: 3em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center; 
    justify-items: center;
    height: 1300px;
    z-index: 2;
    background-color: #e6cf8b;

}

button{
    background-color: white;
}
.card {
    width: 300px;
    height: 500px;
    border: 3px;
    border : black;
    border-radius: 1em;
    font-size: 22px;
    background-color: #b56969;
    color : #e8edf3;
    justify-content: center;
    z-index: 2;
 }
.bitCoinBox{
    flex: 2;
    justify-content: space-around; 
}

.ethereumBox{
    flex: 1;
    justify-content: space-around; 
}

.box3{
    flex: 1;
    justify-content: space-around; 
}

.titlebar {
    background-clip: border-box;
    background-color: #3F51B5;
}
.mat-card-image{
    height: 200px;
    width: 348px;
}
image.mat-card-image{
    justify-content: center;
}
mat-card-content.mat-card-content{
    justify-content: center;
}

.card{
    padding-top: 2em;
}