<!-- <head>
        <meta charset = "UTF-8">
        <meta name= "viewport" content = "width = device-width", initial-scale = 1.0>
        <meta http-equiv="X-AU-Compatible" content="ie=edge">
</head> -->


<div id = "showcase">

 
    <div class = "wrapper">
        <div class = "bitcoinBox">
            <mat-card class = "card">
                <div id = "centerTextWrapper">
                   <mat-card-title class = "titlebar" >Welcome to Bitcoin! </mat-card-title>
                </div>
            <mat-card-content>Bitcoin the world's new currency</mat-card-content>
            <img mat-card-image src="/../../assets/images/logo.jpg">
            <mat-card-actions>
                <div id = "centerWrapper">
                  <button mat-button>Bitcoin</button>
                </div>
            </mat-card-actions>
            </mat-card>
        </div>
        <div class = "Ethereum">
            <mat-card class = "card">
                <div id = centerTextWrapper>
                     <mat-card-title class = "titlebar" >Welcome to Ethereum!</mat-card-title>
                </div>
            <mat-card-content>Ethereum the digital currency</mat-card-content>
            <img mat-card-image src="/../../assets/images/ethereum.jpg">
            <mat-card-actions>
                    <div id = "centerWrapper">
                            <button mat-button>Ethereum</button>
                     </div>
            </mat-card-actions>
            </mat-card>
        </div>
        <div class = "box3">
                <mat-card class = "card">
                    <div id = centerTextWrapper>
                        <mat-card-title class = "titlebar" >Welcome to Whatever! </mat-card-title>
                    </div>
                <mat-card-content>Bitcoin the world's new currency</mat-card-content>
                <img mat-card-image src="/../../assets/images/road.jpg">
                <mat-card-actions>
                        <div id = "centerWrapper">
                                <button mat-button>Other</button>
                        </div>
                </mat-card-actions>
                </mat-card>
        </div>
    </div>
</div>