* {
    position: relative;
    min-height: 95vh;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "top"
    "bottom";
}

div{
    grid-area: top;
    align-self: start;
}

app-footer {
    grid-area: bottom;
    align-self: end;
}