* {
    position: relative;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "top"
    "content"
    "bottom";
}

app-header {
    grid-area: top;
}

router-outlet {
    grid-area: content;
}

app-footer {
    grid-area: bottom;
}