<p>
  wallet works!
</p>

<button (click)='getWallet()'>Get Wallet</button>
<button (click)='postCurrency("Litecoin", "LTC")'>Post Currency</button>
<button (click)='addNumber()'>Add Number</button>
<button (click)='getCurrencies()'>Get Currencies</button>
<button (click)='getCurrency(1)'>Get Currency</button>
<button (click)='getWalletTransactions()'>Get Wallet Transaction</button>
<button (click)='addWalletTransaction(5)'>Add Wallet Transaction</button>
<button (click)='getWalletTransaction(4)'>Get Wallet Transaction</button>