.space{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    ". login .";
    justify-items: center;
    align-items: end;
     
}


mat-card {
    grid-area: login;
    align-self: center;
    padding: 6em;
    margin-top:2em;
    background-color: #C5CAE9;
}