<h1>Login.</h1>
<h4>Login with your account.</h4>
<hr>

<form #f="ngForm" (ngSubmit)="onSubmit(f)" [formGroup]="loginForm">
  <div>
    <div>
      <mat-form-field>
        <input matInput placeholder="Email" formControlName="email" type="email" required>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput placeholder="Password" formControlName="password" type="password" required>
      </mat-form-field>
    </div>
  </div>
  <button mat-raised-button class="nav-btn" color="primary" type="submit">Login</button>
</form>
<br>
<a routerLink="/register">Register as a new user.</a>