<section id="page">
        <div>
          <mat-card>
          <h1 class="pageTitle">Buy Ethereum!</h1>
          <h3>Available Funds: {{ funds }}</h3> <!--{{ funds }} is placeholder for now -->
          <mat-card class="btcBuyForm">
            <div *ngIf="cryptos">
              <div id="crypto-container" *ngFor="let crypto of objectKeys(cryptos)">
                <span class="left">Current Price of {{ crypto }}:</span>
                <span class="right">{{ cryptos[crypto].USD | currency:'USD':true }}</span>
              </div>
            </div>
            <div>
              <mat-form-field class="buyInput">
                  <input matInput [(ngModel)]='cryptoPrice' type="number" placeholder="Amount">
                  <span matPrefix>$</span>
              </mat-form-field>
                <div *ngIf="cryptos">
                  <div id="crypto-form" *ngFor="let crypto of objectKeys(cryptos)">
                    <span class="buyOutput">Ethereum: {{ cryptoPrice / cryptos[crypto].USD }}</span>
                  </div>
                </div>
                <br>
                <button class="buyButton" mat-raised-button type="submit">Buy</button>
                <span>
                  <button class="buyButton" mat-raised-button routerLink="/eth">Cancel</button>
                </span>
              </div>
            </mat-card>
          </mat-card>
        </div>
</section>